.content {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  background-color: #161618;
  background: url("../images/pasich_lowpolybg.png") no-repeat center;
  background-attachment: fixed;
  overflow: hidden;
}

.content .container {
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .container .text {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.content .container .text #welcomeMessage {
  display: block;
  margin-left: 8vw;
  margin-top: 8vh;
  width: 40rem;
  color: #eeeeee;
  font-weight: 400;
  font-size: 10rem;
  line-height: 10rem;
  text-transform: uppercase;
  word-break: break-all;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: default;
}

.content .container .text #welcomeMessage #hi {
  font-size: 1.53em;
  display: none;
}

.content .container .text #welcomeMessage #green {
  color: #0bec9a;
}

.content .container .text #welcomeMessage #name {
  display: none;
  color: #0bec9a;
}

.content .container .text #welcomeMessage #lname {
  display: none;
  font-size: 1.25em;
}

.content .container .text #welcomeMessage #info {
  margin-left: 2%;
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 15px;
  margin-top: 20px;
  line-height: 0;
  color: #0bec9a;
}

.content .container .scroll {
  float: left;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content .container .scroll #scroll-wrap {
  text-align: center;
  margin-top: 35vh;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.content .container .scroll #scroll-wrap #scroll-down {
  display: none;
  font-size: 30px;
  color: #CCCCCC;
  text-decoration: none;
  font-weight: 200;
}

.content .container .scroll #scroll-wrap #scroll-down:hover {
  color: #0bec9a;
}

.content .container .scroll #scroll-wrap #scroll-down:hover .material-icons.md-light {
  color: #0bec9a;
}

.content .container .pic {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

.content .container .pic #pic-wrap {
  width: 22rem;
  margin: 0 auto;
  margin-top: 13rem;
  display: none;
}

.content .container .pic #pic-wrap #wrap-parall {
  height: 250px;
}

.content .container .pic #pic-wrap #wrap-parall #parallelogram1 {
  width: 250px;
  height: 250px;
  background: #0bec9a;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-animation: example 5s ease-in-out;
          animation: example 5s ease-in-out;
}

.content .container .pic #pic-wrap #parallelogram2 {
  position: absolute;
  margin-top: -14rem;
  margin-left: 1rem;
  width: 300px;
  height: 300px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background: #0bec9a;
  border: 10px solid white;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.6);
}

.content .container .pic #pic-wrap #parallelogram2 img {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  width: 120%;
  display: block;
  margin: 0 -10%;
}

.content .container .pic #pic-wrap #parallelogram3 {
  position: relative;
  margin-left: 14rem;
  width: 100px;
  height: 100px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background: #0bec9a;
  opacity: 0.7;
}

@media (max-width: 1120px) {
  .content .container .text #welcomeMessage {
    width: 25rem;
    font-size: 7rem;
    line-height: 6rem;
    margin-top: 15vh;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-bottom: 50px;
  }
  .content .container .pic {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .content .container .pic #pic-wrap {
    margin-top: 6rem;
  }
}

@media (max-width: 800px) {
  .content {
    padding-top: 0;
  }
  .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .content .container .text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .content .container .text #welcomeMessage {
    margin: 0 auto;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .content .container .scroll {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .container .scroll #scroll-wrap {
    margin-top: -12vh;
  }
  .content .container .scroll #scroll-wrap #scroll-down {
    font-size: 30px;
    color: #CCCCCC;
    text-decoration: none;
    font-weight: 200;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .content .container .scroll #scroll-wrap #scroll-down:hover {
    color: #0bec9a;
  }
  .content .container .scroll #scroll-wrap #scroll-down:hover .material-icons.md-light {
    color: #0bec9a;
  }
  .content .container .scroll #scroll-wrap #scroll-down i {
    display: block;
    margin-top: -5px !important;
  }
  .content .container .pic {
    margin-top: -12vh;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .content .container .pic #pic-wrap {
    margin-top: -25px;
  }
}

@media (max-width: 400px) {
  .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
  .content .container .text #welcomeMessage {
    margin-left: -25px;
    margin-top: -50px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    line-height: 7rem;
  }
  .scroll {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes example {
  0% {
    width: 0;
    height: 0px;
    opacity: .3;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 1;
  }
}

@keyframes example {
  0% {
    width: 0;
    height: 0px;
    opacity: .3;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 1;
  }
}

#triangle-topleft {
  left: calc(30%);
  position: absolute;
  height: 80vh;
  width: 70%;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(#016a85), to(#008aac));
  background-image: linear-gradient(to left, #016a85, #008aac);
  -webkit-clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
          clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
}

#semato {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#semato .container {
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

#semato .container .description {
  z-index: 99;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0;
}

#semato .container .description .title {
  position: relative;
  color: #252525;
  z-index: 100;
  padding-left: 5vw;
  font-size: 10vh;
}

#semato .container .description .title .number {
  color: #242424;
  opacity: 0.8;
}

#semato .container .description .title .light {
  font-weight: 200;
  font-size: 3vh;
  letter-spacing: 10px;
}

#semato .container .description .semato-content {
  margin-left: 5vw;
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #292929;
}

#semato .container .description .semato-content .describe {
  font-size: 2vh;
}

#semato .container .description .semato-content .describe h1 {
  text-transform: uppercase;
  color: #242424;
  font-weight: 500;
}

#semato .container .description .semato-content .technology {
  margin-top: 3vh;
}

#semato .container .description .semato-content .technology ul li {
  display: inline;
  margin-right: 5px;
  list-style: none;
}

#semato .container .description .semato-content .github {
  margin-top: 3vh;
  font-size: 5vhpx;
}

#semato .container .description .semato-content .github a {
  text-align: center;
  padding-left: 10px;
  text-decoration: none;
  color: #0385a5;
}

#semato .container .description .semato-content .github a i {
  display: block;
  float: left;
  font-size: 30px;
  text-decoration: none;
}

#semato .container .change-image-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#semato .container .change-image-section .change .arrow {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 2rem;
  width: 5rem;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}

#semato .container .change-image-section .change .arrow:hover {
  opacity: 1;
}

#semato .container .change-image-section .change .img {
  height: 5rem;
  width: 5rem;
  background-color: #181818;
  border-radius: 50%;
  opacity: .4;
  cursor: pointer;
}

#semato .container .change-image-section .change .img:hover {
  opacity: 1;
}

#semato .container .change-image-section .change .selected {
  margin-top: 25px;
  margin-bottom: 25px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#semato .container .change-image-section .change .img-1 {
  background: url("../images/smt1.png") center;
  background-size: 200px;
  background-position-x: 20%;
}

#semato .container .change-image-section .change .img-2 {
  background: url("../images/smt2.png") center;
  background-size: 300px;
  background-position-x: 40%;
}

#semato .container .change-image-section .change .img-3 {
  background: url("../images/smt3.png") center;
  background-size: 300px;
  background-position-x: 85%;
}

#semato .container .change-image-section .change .img-4 {
  background: url("../images/smt4.png") center;
  background-size: 200px;
  background-position-x: 50%;
}

#semato .container .images {
  z-index: 99;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#semato .container .images #laptop img {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  #semato {
    padding-top: 0;
  }
  #semato .container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100vh;
  }
  #semato .container .description {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #semato .container .description .title {
    margin-top: 0vh;
    font-size: 3vh;
  }
  #semato .container .description .semato-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #semato .container .description .semato-content .github {
    float: left;
  }
  #semato .container .change-image-section {
    visibility: hidden;
    display: none;
  }
  #semato .container .images {
    margin-top: 10%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    overflow: hidden;
  }
  #semato .container .images #laptop {
    width: 80%;
    height: 100%;
  }
  #semato .container .images #laptop img {
    width: 100%;
    height: auto;
  }
}

#shoesmp {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#shoesmp #shoeBack {
  margin-top: -10vh;
  position: absolute;
  background-color: #f7f7f7;
  width: 60%;
  height: 100vh;
  -webkit-transform: skew(46deg);
          transform: skew(46deg);
}

#shoesmp .container-shoe {
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shoesmp .container-shoe .left {
  z-index: 99;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#shoesmp .container-shoe .left .title {
  position: relative;
  color: #252525;
  z-index: 100;
  padding-left: 5vw;
  font-size: 10vh;
}

#shoesmp .container-shoe .left .title .number {
  color: #242424;
  opacity: 0.8;
}

#shoesmp .container-shoe .left .title .light {
  font-weight: 200;
  font-size: 3vh;
  letter-spacing: 10px;
}

#shoesmp .container-shoe .left #shoeShow {
  margin-top: 5%;
  margin-left: 10%;
}

#shoesmp .container-shoe .left #shoeShow img {
  width: 100%;
  height: auto;
}

#shoesmp .container-shoe .right {
  z-index: 99;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#shoesmp .container-shoe .right img {
  width: 100%;
  height: auto;
  margin-top: 10vh;
}

@media (max-width: 900px) {
  #shoesmp {
    padding-top: 0;
    overflow: hidden !important;
  }
  #shoesmp #shoeBack {
    visibility: hidden;
    display: none;
  }
  #shoesmp .container-shoe {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 100vh;
  }
  #shoesmp .container-shoe .left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #shoesmp .container-shoe .left .title {
    padding-left: 0;
    color: white;
    font-size: 5vh;
    width: 60%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  #shoesmp .container-shoe .left #shoeShow img {
    width: 80%;
    height: auto;
  }
  #shoesmp .container-shoe .right #shoePc img {
    margin-top: 0;
    margin-left: 10%;
    width: 80%;
    height: auto;
  }
}

.gallery {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery_pic {
  margin: .1vw;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 40vh;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.gallery .gallery_pic:nth-child(1) {
  background-image: url("../images/mp_gallery1.jpg");
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery .gallery_pic:nth-child(2) {
  background-image: url("../images/mp_gallery2.jpg");
}

.gallery .gallery_pic:nth-child(3) {
  background-image: url("../images/mp_gallery3.png");
}

.gallery .gallery_pic:nth-child(4) {
  background-image: url("../images/mp_gallery4.png");
}

.gallery .gallery_pic:nth-child(5) {
  background-image: url("../images/mp_gallery5.png");
}

.gallery .gallery_pic:nth-child(6) {
  background-image: url("../images/mp_gallery6.jpg");
}

.gallery .gallery_pic:nth-child(7) {
  background-image: url("../images/mp_gallery7.png");
}

.gallery .gallery_pic:nth-child(8) {
  background-image: url("../images/mp_gallery8.png");
}

.gallery .gallery_pic:nth-child(9) {
  background-image: url("../images/mp_gallery9.png");
}

.gallery .gallery_pic:nth-child(10) {
  background-image: url("../images/mp_gallery10.png");
}

.gallery .gallery_pic:nth-child(11) {
  background-image: url("../images/mp_gallery11.png");
}

.gallery .gallery_pic:nth-child(12) {
  background-image: url("../images/mp_gallery12.png");
  background-size: 140%;
}

.gallery .gallery_pic:nth-child(13) {
  background-image: url("../images/mp_gallery13.jpg");
}

.gallery .gallery_pic:nth-child(14) {
  background-image: url("../images/mp_gallery14.png");
}

.gallery .gallery_pic div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.gallery .gallery_pic div:hover {
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 400px) {
  .gallery {
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #161618;
  height: 100vh;
}

section:nth-of-type(2) {
  background-color: white;
}

section:nth-of-type(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#060f2b), to(#071338));
  background-image: linear-gradient(to right, #060f2b, #071338);
}

section:nth-of-type(4) {
  background-color: #161618;
  height: auto;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=style.css.map */