.content {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  background-color: #161618;
  background: url("../images/pasich_lowpolybg.png") no-repeat center;
  background-attachment: fixed;
  overflow: hidden;
}

.content .container {
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .container .text {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.content .container .text #welcomeMessage {
  display: block;
  margin-left: 8vw;
  margin-top: 8vh;
  width: 40rem;
  color: #eeeeee;
  font-weight: 400;
  font-size: 10rem;
  line-height: 10rem;
  text-transform: uppercase;
  word-break: break-all;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: default;
}

.content .container .text #welcomeMessage #hi {
  font-size: 1.53em;
  display: none;
}

.content .container .text #welcomeMessage #green {
  color: #0bec9a;
}

.content .container .text #welcomeMessage #name {
  display: none;
  color: #0bec9a;
}

.content .container .text #welcomeMessage #lname {
  display: none;
  font-size: 1.25em;
}

.content .container .text #welcomeMessage #info {
  margin-left: 2%;
  display: block;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 15px;
  margin-top: 20px;
  line-height: 0;
  color: #0bec9a;
}

.content .container .scroll {
  float: left;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content .container .scroll #scroll-wrap {
  text-align: center;
  margin-top: 35vh;
  -webkit-animation: float 3s ease-in-out infinite;
          animation: float 3s ease-in-out infinite;
}

.content .container .scroll #scroll-wrap #scroll-down {
  display: none;
  font-size: 30px;
  color: #CCCCCC;
  text-decoration: none;
  font-weight: 200;
}

.content .container .scroll #scroll-wrap #scroll-down:hover {
  color: #0bec9a;
}

.content .container .scroll #scroll-wrap #scroll-down:hover .material-icons.md-light {
  color: #0bec9a;
}

.content .container .pic {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

.content .container .pic #pic-wrap {
  width: 22rem;
  margin: 0 auto;
  margin-top: 13rem;
  display: none;
}

.content .container .pic #pic-wrap #wrap-parall {
  height: 250px;
}

.content .container .pic #pic-wrap #wrap-parall #parallelogram1 {
  width: 250px;
  height: 250px;
  background: #0bec9a;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-animation: example 5s ease-in-out;
          animation: example 5s ease-in-out;
}

.content .container .pic #pic-wrap #parallelogram2 {
  position: absolute;
  margin-top: -14rem;
  margin-left: 1rem;
  width: 300px;
  height: 300px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background: #0bec9a;
  border: 10px solid white;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.6);
}

.content .container .pic #pic-wrap #parallelogram2 img {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  width: 120%;
  display: block;
  margin: 0 -10%;
}

.content .container .pic #pic-wrap #parallelogram3 {
  position: relative;
  margin-left: 14rem;
  width: 100px;
  height: 100px;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  background: #0bec9a;
  opacity: 0.7;
}

@media (max-width: 1120px) {
  .content .container .text #welcomeMessage {
    width: 25rem;
    font-size: 7rem;
    line-height: 6rem;
    margin-top: 15vh;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-bottom: 50px;
  }
  .content .container .pic {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .content .container .pic #pic-wrap {
    margin-top: 6rem;
  }
}

@media (max-width: 800px) {
  .content {
    padding-top: 0;
  }
  .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .content .container .text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .content .container .text #welcomeMessage {
    margin: 0 auto;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .content .container .scroll {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .container .scroll #scroll-wrap {
    margin-top: -12vh;
  }
  .content .container .scroll #scroll-wrap #scroll-down {
    font-size: 30px;
    color: #CCCCCC;
    text-decoration: none;
    font-weight: 200;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
  }
  .content .container .scroll #scroll-wrap #scroll-down:hover {
    color: #0bec9a;
  }
  .content .container .scroll #scroll-wrap #scroll-down:hover .material-icons.md-light {
    color: #0bec9a;
  }
  .content .container .scroll #scroll-wrap #scroll-down i {
    display: block;
    margin-top: -5px !important;
  }
  .content .container .pic {
    margin-top: -12vh;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .content .container .pic #pic-wrap {
    margin-top: -25px;
  }
}

@media (max-width: 400px) {
  .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
  }
  .content .container .text #welcomeMessage {
    margin-left: -25px;
    margin-top: -50px;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    line-height: 7rem;
  }
  .scroll {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes example {
  0% {
    width: 0;
    height: 0px;
    opacity: .3;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 1;
  }
}

@keyframes example {
  0% {
    width: 0;
    height: 0px;
    opacity: .3;
  }
  100% {
    width: 250px;
    height: 250px;
    opacity: 1;
  }
}

#triangle-topleft {
  left: calc(30%);
  position: absolute;
  height: 80vh;
  width: 70%;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(#016a85), to(#008aac));
  background-image: linear-gradient(to left, #016a85, #008aac);
  -webkit-clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
          clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
}

#semato {
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
}

#semato .container {
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#semato .container .description {
  z-index: 99;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 0;
}

#semato .container .description .title {
  position: relative;
  color: #252525;
  z-index: 100;
  padding-left: 5vw;
  font-size: 80px;
}

#semato .container .description .title .number {
  color: #242424;
  opacity: 0.8;
}

#semato .container .description .title .light {
  font-weight: 200;
  font-size: 25px;
  letter-spacing: 10px;
}

#semato .container .description .semato-content {
  margin-left: 5vw;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #292929;
}

#semato .container .description .semato-content .describe h1 {
  text-transform: uppercase;
  color: #242424;
  font-weight: 500;
}

#semato .container .description .semato-content .technology {
  margin-top: 3rem;
}

#semato .container .description .semato-content .technology ul li {
  display: inline;
  margin-right: 5px;
  list-style: none;
}

#semato .container .description .semato-content .github {
  margin-top: 3rem;
  font-size: 15px;
}

#semato .container .description .semato-content .github a {
  text-align: center;
  padding-left: 10px;
  text-decoration: none;
  color: #0385a5;
}

#semato .container .description .semato-content .github a i {
  display: block;
  float: left;
  font-size: 30px;
  text-decoration: none;
}

#semato .container .change-image-section {
  z-index: 99;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

#semato .container .change-image-section .change {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15vh;
  margin: 0 auto;
}

#semato .container .change-image-section .change .arrow {
  height: 2rem;
  width: 5rem;
  margin-top: 10px;
  opacity: 0.4;
}

#semato .container .change-image-section .change .img {
  height: 5rem;
  width: 5rem;
  background-color: #181818;
  border-radius: 50%;
  margin: 10px auto;
  opacity: .4;
  cursor: pointer;
}

#semato .container .change-image-section .change .img:hover {
  opacity: 1;
}

#semato .container .change-image-section .change .selected {
  margin: 25px auto;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
  border: 5px solid silver;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#semato .container .change-image-section .change .img-1 {
  background: url("../images/smt2.png") center no-repeat;
  background-size: 200px;
  background-position-x: 20%;
}

#semato .container .change-image-section .change .img-2 {
  background: url("../images/smt1.png") center;
  background-size: 300px;
  background-position-x: 40%;
}

#semato .container .change-image-section .change .img-3 {
  background: url("../images/smt3.png") center;
  background-size: 200px;
  background-position-x: 50%;
}

#semato .container .change-image-section .change .img-4 {
  background: url("../images/smt4.png") center;
  background-size: 200px;
  background-position-x: 50%;
}

#semato .container .images {
  z-index: 99;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#semato .container .images #laptop {
  margin-top: 5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #161618;
  height: 100vh;
}

section:nth-of-type(2) {
  background-color: white;
}

section:nth-of-type(3) {
  background-color: #161618;
}
/*# sourceMappingURL=style.css.map */