#triangle-topleft {
    left: calc(30%);
    position: absolute;
    height: 80vh;
    width: 70%;
    display: block;
    background-image: linear-gradient(to left, #016a85 , #008aac);
    clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
  }


  #semato{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .container {
      margin: 0 auto;
      height: 80vh;
      display: flex;
      flex-direction: row;
      width: 100%;

        .description{
            z-index: 99;
            flex:4;
            padding: 0;
                .title{
                    position: relative;
                    color:#252525;
                    z-index: 100;
                    padding-left: 5vw;
                    font-size: 10vh;
                    .number{
                        color: #242424;
                        opacity: 0.8;
                    }
                    .light{
                        font-weight: 200;
                        font-size: 3vh;
                        letter-spacing: 10px;
                    }
                }

                .semato-content{
                    margin-left: 5vw;
                    margin-top: 6vh;
                    display: flex;
                    flex-direction: column;
                    color: #292929;
            
                    .describe{
                        font-size: 2vh;
                         h1{
                             text-transform: uppercase;
                             color:#242424;
                             font-weight: 500;
                         }
                     }

                     .technology{
                        margin-top: 3vh;
          
                    ul li {
                      display: inline;
                      margin-right: 5px;
                      list-style: none;
                    }
                  }
                    .github{
                        margin-top: 3vh;

                        font-size: 5vhpx;
                         a{
                            text-align: center;
                            padding-left: 10px;
                            text-decoration: none;
                            color: #0385a5;
                        i{
                            display: block;
                            float: left;
                            font-size: 30px;
                        text-decoration: none;
            
                        }
                    }

                    }
                      
            
            
        }
    }

    .change-image-section{
        z-index: 99;
        flex:1;
        display: flex;
        align-items: center ;
        justify-content: center;
        overflow: hidden;
        .change{
        .arrow{
            margin-top: 20px;
            margin-bottom: 20px;
            height: 2rem;
            width: 5rem;
        text-align: center;
            opacity: 0.4;
            cursor: pointer;
            
            &:hover{
                opacity: 1;
            }
        }

            .img{
               
                height: 5rem;
                width: 5rem;
                background-color: #181818;
                border-radius: 50%;
                opacity: .4;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                }
            }

            .selected{
                margin-top: 25px;
                margin-bottom: 25px;
                transform: scale(1.5);
                opacity: 1;  
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.40);
                transition: all 0.1s ease-in-out;
            }

            .img-1{
                background: url("../images/smt1.png") center;
                background-size: 200px;
                background-position-x: 20%;
               
            }

            .img-2{
                background: url("../images/smt2.png") center;
                background-size: 300px;
                background-position-x: 40%;
            }

            .img-3{
                background: url("../images/smt3.png") center;
                background-size: 300px;
                background-position-x: 85%;
            }

            .img-4{
                background: url("../images/smt4.png") center;
                background-size: 200px;
                background-position-x: 50%;
            }
        }
    
    }


    .images{
        z-index: 99;
        flex:4;
        display: flex;
        align-items: center ;
        justify-content: center;
            #laptop{
                img{
                width: 100%;
                height: auto;
                }
            }
        }

      }
  }



  @media (max-width: 1420px) {

    #semato{
        .container{
    .change-image-section{

        transform: scale(0.65);
    }

  }
}
  }


@media (max-width: 900px) {

#semato{
    padding-top: 0;
    .container{
        flex-direction: column !important;
        height: 100vh;
        .description{
            order: 3;

            .title{
                margin-top: 0vh;
                font-size: 3vh;
            }
            .semato-content{
                display: flex;
                flex-direction: column;

                .github{
                    float: left;
                }
            }
           
        }

        .change-image-section{
            visibility: hidden;
            display: none;
        }
    

        .images{
            margin-top: 5%;
            order: 1;
            flex:3;
            height: 40vh;
            #laptop{
                transform: scale(0.7);
            }
        }
    }
}
}


  @media (max-width: 500px) {
    #semato{
        .container{
            .images{
                #laptop{
                transform: scale(1);

                }
            }
        }
    }
  }