$main-green: rgb(11, 236, 154);
$txt-color: #eeeeee;

.content{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #161618;
    background: url("../images/pasich_lowpolybg.png") no-repeat center;
    background-attachment: fixed;
    overflow: hidden;

.container {
    // margin-top: 10vh;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: row;



    .text{
            flex: 3;
             #welcomeMessage{
                 display: block;
                margin-left: 8vw;
                margin-top: 8vh;
                width: 40rem;
                color: $txt-color;
                font-weight: 400;
                font-size: 10rem;
                line-height: 10rem;
                text-transform: uppercase;
                word-break: break-all; 
                justify-content: center;
            align-content: center;
                cursor: default;
        
                #hi{
                    font-size: 1.53em;
                    display: none;  
                }
        
                #green{
                    // display: none;  
                    color: $main-green;
                }
                #name{
                    display: none;  
                    color: $main-green;
                }
                #lname{
                    display: none;  
                    font-size: 1.25em;
                }
                #info{
                    margin-left: 2%;
                    display: block;
                    font-size: 1.2rem;
                    font-weight: 200;
                    letter-spacing: 15px;
                    margin-top: 20px;
                    line-height: 0;
                    color: $main-green;
                }
            }

    }
    

.scroll{
    float: left;
    color: white;
    flex:1;

    #scroll-wrap{
        text-align: center;
        margin-top: 35vh;
        animation: float 3s ease-in-out infinite;
    #scroll-down {
        display: none;
        font-size: 30px;
        color: #CCCCCC;
        text-decoration: none;
        font-weight: 200;
        
        &:hover{
            color: $main-green;
            .material-icons.md-light { color: $main-green }
        }
    }
}



  }

  .pic{
    flex: 3;
    position: relative;

    #pic-wrap{
        width: 22rem;
        margin: 0 auto;
        margin-top: 13rem;
        display: none;  
    
        #wrap-parall{
            height: 250px;
            #parallelogram1 {
            width:250px;
            height: 250px;
            background: $main-green;
            transform: skew(-10deg);
            animation: example 5s ease-in-out;
            }
        }
    
            #parallelogram2 {
            position: absolute;
            margin-top: -14rem;
            margin-left: 1rem;
            width: 300px;
            height: 300px;
            transform: skew(-10deg);
            background: $main-green;
            border: 10px solid white;
            overflow: hidden;
            box-shadow: 0 10px 15px 0px rgba(0,0,0,0.6);
         
            img{
                transform: skew(10deg);
                width:120%;
                display:block;
                margin:0 -10%;
            }
    
        }
    
            #parallelogram3 {
            position: relative;
            margin-left: 14rem;
            width: 100px;
            height: 100px;
            transform: skew(-10deg);
            background: $main-green;
            opacity: 0.7;
            }
        }
        

  }

}
}





@media (max-width: 1120px) {
.content{
    .container{
        .text{
            #welcomeMessage{
                width: 25rem;
                font-size: 7rem;
                line-height: 6rem;
                margin-top: 15vh;
                transform: scale(0.9);
                margin-bottom: 50px;
            }
        }

        
  .pic{
    flex: 3;
    transform: scale(0.8);

    #pic-wrap{
        margin-top: 6rem;
        }
    
  }
    }
}

}


@media (max-width: 800px) {

    .content{
        padding-top: 0;
            .container{
                flex-direction: column;
                height: 100vh;
    
                .text{
                    flex: 2;
                    #welcomeMessage{
                        margin: 0 auto;
                        transform: scale(0.8); 
                    }
                }
            
     
            .scroll{

                order:2;
                #scroll-wrap{
                  margin-top: -12vh;
                #scroll-down {
                    font-size: 30px;
                    color: #CCCCCC;
                    text-decoration: none;
                    font-weight: 200;
                    animation: float 3s ease-in-out infinite;
                    &:hover{
                        color: $main-green;
                        .material-icons.md-light { color: $main-green }
                    }
                    i{
                        display: block;
                        margin-top: -5px !important;
                    }
                }
            }
        }
    
            .pic{
                margin-top: -12vh;
                flex: 2;
                transform: scale(0.5);
            
                #pic-wrap{
                    margin-top: -25px;
                    }
                
              }
}
}
}

@media (max-width: 400px) {

    .content{
            .container{
                flex-direction: column;
                height: 90vh;
                .text{
                    #welcomeMessage{
                        margin-left: -25px;
                        margin-top: -50px;
                        transform: scale(0.6); 
                        line-height: 7rem;
                    }
                }
            }
        }
            .scroll{
                order:2;
            }
            .pic{
                order:1;
            }
}



@keyframes float {
0% {
		transform: translatey(0px);
	}
50% {
		transform: translatey(20px);
	}
100% {
		transform: translatey(0px);
	}
}

@keyframes example {
0% {
    width: 0;
    height: 0px;
    opacity: .3;
}
100% {

    width:250px;
    height: 250px;
    opacity: 1;
}
}